root = true

[*]
indent_style = space

[*.cs]
indent_size = 4
charset = utf-8
tab_width = 4
end_of_line = crlf

# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# Namespace declarations should match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0060: Remove unused parameter
dotnet_diagnostic.IDE0060.severity = silent

# Xml files
[*.{xml,xaml,config,nuspec,resx,vsixmanifest,csproj,targets,props,fsproj}]
indent_size = 2

[*.json]
indent_size = 2